<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mainscript.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
           updateRobot();
           setupControls();
           toggleManual('#toggle-manual');
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>{{ name }}</h1>
        </div>
        <div id="widgets">
            <div id="control-tab">
                <div class="widget" id="control-widget">
                    <h2>Control</h2>
                    <div id="toggle-manual" class="button off">Turn manual on?</div>
                    <canvas class="control" id="wheels" width="200" height="200"></canvas>
                </div>
            </div>

            <div id="debug-tab">
                <div class="widget" id="robot-widget">
                    <h2>Robot state</h2>
                    <div id="robot-state"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
