<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mainscript.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
           updateRobot();
           updateState();
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>{{ name }}</h1>
        </div>
        <div id="widgets">
            <!--<div class="widget" id="video-widget">
                <h2>Video feed</h2>
                <div id="video">
                    <p>Video here</p>
                </div>
            </div>-->
            <div id="debug-tab">
                <div class="widget" id="robot-widget">
                    <h2>Robot state</h2>
                    <div id="robot-state"></div>
                </div>
                <div class="widget" id="decision-widget">
                    <h2>Decision state</h2>
                    <div id="decision-state"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
