<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mainscript.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
           updateVideo("#cam");
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>{{ name }}</h1>
        </div>
        <div id="widgets">
            <div class="widget" id="video-widget">
                <h2>Video feed</h2>
                <img id="cam" height="480" width="640" />
            </div>
        </div>
    </div>
</body>
</html>
